@import url(/assets/styles/fonts.css);
@import url(/assets/styles/global.css);
/* ui */
@import url(/assets/styles/components/ui/buttons.css);
/* templates */
@import url(/assets/styles/components/templates/header.css);
/* sections */

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
